@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
body{
    width: 100%;
    overflow-x: hidden;
    margin:0;
	 color:#6a6f8c;
	 background:#f4f6ff;
	 font:600 16px/18px 'Open Sans',sans-serif;


}

header{
    width: 100%;
    background-color: rgb(12, 12, 12);

}
nav{
    width: 960px;
    margin: auto;
}
.li1{
    text-align: left;
    display: contents;
}
header nav ul{


/* margin:  0 50px; */
height: 100%;
width: 50%;
display: flex;
/* justify-content: space-between; */
align-items: center;

}
header nav ul li {
    display: inline;
    /* padding: 25px; */
    margin: 0 40px ;

}
header nav {

    background-color: rgb(12, 12, 12);
    color: white;
    height: 50px;
    
}
.logo{
height: 35px;
width: 35px;
}
a{
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}


h1{
    text-align: center;
    margin: 30px;
    font-size: 37px;
    font-weight: 590;
    color: #009dff;
    font-family: 'Philosopher', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
h2{
    text-align: left;
    margin-right: 18px;
    margin-bottom: 18px;
    font-size: 22px;
    color: #009dff;
    font-family: 'Philosopher', sans-serif;
}




.accordion {
    background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    color: #009dff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 23px;
    font-weight:bolder;
    transition: 0.4s;
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 23px;
    font-weight: 400;
    color:#5cb958;
    background-color: #e4e3e3;
    padding: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }



footer{
    height: 100px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    /* width: 960px; */
    margin: auto;
    margin-top: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footermidal{
border-left: 2px solid darkgrey;        
border-right: 2px solid darkgrey;     
padding: 0 10px;   
}
.footer__a{

margin: 20px;
}
footer  div a{
    color:#009dff;
    margin: 0 10px;
}

span{
margin-left: 30px;
color: darkgrey;
}

table tr,td,th{
  border: 2px solid black;
}
table td {
  padding:  10px;
}
table tr th {
  padding: 7px;
}