@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap%27');

* {
    box-sizing: border-box;
    font-family: 'Philosopher', sans-serif;
  }
  
  main {
    width: 960px;
    margin: auto;
  }

#logo {
width: 100%;
}
  #logo img{
    height: 100px;
    width: 120px;
    
  }

#logo div {

  display : flex;   
  justify-content: center;
  
}
  
  img {
    width: 100%;
  }
  
  header{

    width: 1100px;
    background-color: #009DFF;
    align-items: center;
    padding: 20px;
    margin: auto;
  }

header nav ul  {
  display : flex; justify-content:center; align-items: center;
  font-weight: bolder;

}
  
  header nav {
    text-align: right;
  }
  
  a {
    text-decoration: none;
    color: #eff0b6;
    padding: 0 20px;
    font-weight: bolder;

  }

a:hover {
    background:white;
    color: #009DFF;
  }
  

h1{
    text-align: center;
    margin: 30px;
    font-size: 37px;
    font-weight: 590;
    color: #009dff;
    font-family: 'Philosopher', sans-serif;
}
.container{
    width: 80%;
    margin: auto;
    
}
h2{
    text-align: left;
    margin-right: 18px;
    margin-bottom: 18px;
    font-size: 22px;
    color: #009dff;
    font-family: 'Philosopher', sans-serif;
    
}

.accordion {
    background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    color: #009dff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 23px;
    font-weight:bolder;
    transition: 0.4s; font-family: 'Philosopher', sans-serif;
  }
  
  .active, .accordion:hover {
    background-color: rgb(223, 223, 223); 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden; font-family: 'Philosopher', sans-serif;
    font-size: 23px;
    font-weight: 500;
    /* color:#5cb958; */
    color:#ffffff;
    background-color: #c2c2c2;
    padding: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }


footer {

    height: 100px;
    width: 1100px;
    display: flex;
    background:#009DFF;;
    color: white;
    text-align: center;
    flex-direction: column;
    text-align: center;
    padding: 25px;
    margin: auto;

  margin-top: 155px;

  font-family: 'Philosopher', sans-serif;
  }

footer span {
  padding-top: 25px;
}
  footer div a{
    padding-top: 10px;
    text-decoration: none;

}
