@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Ribeye+Marrow&display=swap');
body{
    width: 100%;
    overflow-x: hidden;
    background-color: white;

}

header{
    width: 100%;
    background-color: #07031a;

}
main{
   width: 100%; 
}
 nav{
    width: 960px;
    margin: auto;
}
.li1{
    text-align: left;
    display: contents;
    text-align: center;

}
header nav ul{


/* margin:  0 50px; */
height: 100%;
width: 50%;
display: flex;
/* justify-content: space-between; */
align-items: center;
text-transform: capitalize;

}
header nav ul li {
    display: inline;
    /* padding: 25px; */
    margin: 0 40px ;

}
header nav {

    background-color: #07031a;
    color: white;
    height: 50px;
    
}
.logo{
height: 35px;
width: 35px;
}
a{
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
.intro__section { 
    /* width: 100%; */
    background-color: #ffa62b;
    color: #07031a;
    padding: 80px 0px;
    height: 200px;
}
/* .intro__section div {
margin: 20px 0;
    display: flex;
    align-items: center;
} */
.intro__section__cont {
    /* margin: 20px 0; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    width: 960px;
    margin: auto;
}
.intro__section__cont div {
    display: flex;
}

.intro__section div div h2{

    font-size: 62px;
    margin: 0 0 0 30px;
    /* font-family: 'Ribeye Marrow', cursive; */
    font-family: 'Monoton', cursive;
  
}
.intro__section p{
line-height: 3;
font-size: 22px;
margin-bottom: 30px;
}

.intro__section button{
    padding: 10px;
    text-transform: uppercase;
    background-color: grey;
    color: white;
    border: grey;
    border-radius: 10px;
    width: 70px;

}

.intro__section button:hover {
background-color: white;
border: 1px solid grey;
color: gray;
}


.meddil{
width: 960px;
margin: auto;
display: flex;
flex-direction: column;
padding: 50px 0px;
}
.items__contener{
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
}
.meddil__h2 {
    font-size: 32px;
    color: #07031a;
    font-family: 'Oleo Script', cursive;

}
.meddil__h2 span {
    color: rgb(94, 85, 85);
    font-size: 22px;
}

.meddil__p{

    color: #090422;
    font-size: 16px;
    margin-bottom: 20px;
}
.items__contener div img {
    width:100%;
}

.div2 {
    margin: 0 15px;
}
.items__contener div h2 {
    font-size: 26px;
    color: rgb(27, 80, 179);
    margin: 20px 0;
}

.items__contener div p {
    font-size: 18px;
    color: darkgrey;
}

footer  div a{
color: rgb(24, 96, 190);
margin: 0 10px;
}

.section3 { 
    background-color: #16697a;
    width: 100%;
    /* margin: ; */

}
.section3__contenar{

    display: flex;
width: 960px;
margin: auto;
padding: 100px 0;

}

.section3__medil{
    margin: 0 15px;
}

.section3__item1{
display: flex;
margin:0 0 30px 0;
align-items: center;

}
.section3__item1 h2{
    margin-left: 10px;
    font-size: 25px;
}

.section3__item2{
    display: flex;
    margin:0 0 30px 0;
    align-items: center;

    
    }
    .section3__item2 h2{
        margin-left: 10px;
        font-size: 25px;
    }

    .section3__item3{
        display: flex;
        margin:0 0 30px 0;
        align-items: center;
    
        
        }
        .section3__item3 h2{
            margin-left: 10px;
            font-size: 25px;
        }
        .section3 p{
            font-size: 18px;
            line-height: 1.25;
            margin-bottom: 20px;
        }

        .section3 button{
            color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
        }
        footer{
            height: 100px;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            width: 960px;
            margin: auto;
        }
       
        .footermidal{
border-left: 2px solid darkgrey;        
border-right: 2px solid darkgrey;     
padding: 0 10px;   
}
.footer__a{

    margin: 20px;
}

span{
    margin-left: 30px;
    color: darkgrey;
}



table{
    /* background-color: #5cb958; */
background-color: #f5f7f8;
color: white;
align-items: center;
margin-left: 590px;
margin-top: 200px;

}


td {
    width: 50px;
    border: 0.5px solid rgb(244, 246, 244);
    padding: 5px;
    text-align: center;
    background-color: #009dff;
    border-radius: 20px;

  }
  
  th {
    padding: 5px;
    border: 0.5px solid rgb(244, 246, 244);
    width: 50px;
    border-radius: 40px;
    vertical-align: middle;
    background: #5cb958;
    color: white;
     text-align: center;
  }

  .ordarfooter{
align-items: center;
margin-top: 2px;
  }