@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap%27');

* {
  box-sizing: border-box;
  font-family: 'Philosopher', sans-serif;
}
/* 
body{
    width: 100%;
    overflow-x: hidden;
    margin:0;
	 color:#6a6f8c;
	 background:#f4f6ff;
	 font:600 16px/18px 'Open Sans',sans-serif; } */

   main {

  width: 960px;
  margin: auto;
  /*------------------------- Edited by Raba'a-----------------------------*/
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  }

   #logo {
   width: 100%;
   }
     #logo img{
       height: 100px;
       width: 120px;
       
     }
   
   #logo div {
   
     display : flex;   
     justify-content: center;
     
   }

   header{

    width: 1100px;
    background-color: #009DFF;
    align-items: center;
    padding: 20px;
    margin: auto;
    font-family: 'Philosopher', sans-serif;
}

header nav ul  {
  display : flex; justify-content:center; align-items: center;
  font-weight: bolder;
}  
  header nav {
    text-align: right;
  }
  
  a {
    text-decoration: none;
    color: #eff0b6;
    padding: 0 20px;
    font-weight: bolder;

  }

a:hover {
    background:white;
    color: #009DFF;
  }


form {
    background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    /* margin: auto; */
    position: relative;
    width: 550px;
    height: 300px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    color: #009dff;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    margin-top: 60px;
}

  legend{
    
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-size: x-large;
    margin-bottom: 10px;
  }

  .inline{
      display: inline-block;
      width: 70%;
     align-content: right;
     margin-top: 10px;
     margin-left: 28px;


  }
  .inline1{
        display: inline-block;
        width: 70%;
       align-content: right;
       margin: 15px;
      
    
  
  }

  input {
    width: 375px;
    display: block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    padding: 4px;
  }

  .paddingLabel{
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    margin-top:155px;
    /* margin-left: 0px; */
    margin-left: 30px;
    font-family: 'Philosopher', sans-serif;
  }

  .paddingLabel1{
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    /* margin-left: 1px; */
    padding-right: 20px;
    font-family: 'Philosopher', sans-serif;
  }

  button {
    width: 100px;
    right: 20px;
    bottom: 20px;
    margin-bottom: 50px;
    background: #009dff;
    color: #fff;
    font-family: Tahoma, Geneva, sans-serif;
    height: 30px;
    border-radius: 15px;
    border: 1p solid #999;
    font-family: 'Philosopher', sans-serif;

  }
  
  
  .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
    }


  input:focus {
    border: 1px solid #09C;
  }

span{
margin-left: 30px;
color: darkgrey;
} */

.footer__a a{
  color: #009dff;
  margin: 0 10px;
  
  }

  footer{
  display: flex ;
  flex-direction: column;
  align-items: center;
  }

  .footermidal{
      border-left: 2px solid darkgrey;        
      border-right: 2px solid darkgrey;     
      padding: 0 10px;   
   }

span{
  margin-left: 30px;
  margin-top: 10px;
  color: darkgrey;
}


table{
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  /* margin: auto; */
  position: relative;
  width: 550px;
  height: 300px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #009dff;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #999;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  margin-top: 60px;
  margin-left: 50px;
}
table tr,td,th{
  border: 1px solid #999;
  text-align: center;
}
table td {
  padding:  10px;
  height: 10px;
}
table tr th {
  padding: 7px;
  font-weight: bold;
}

table{
  color: #09C;
}

footer {

  height: 100px;
  width: 1100px;
  display: flex;
  background:#009DFF;;
  color: white;
  text-align: center;
  flex-direction: column;
  text-align: center;
  padding: 25px;
  margin: auto;

  margin-top: 172px;
  font-family: 'Philosopher', sans-serif;
}

footer span {
padding-top: 25px;
color: white;

}
footer div a{
  padding-top: 10px;
  text-decoration: none;

}