@import url('https://fonts.googleapis.com/css2?family=Ribeye+Marrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Ribeye+Marrow&display=swap');
body{
    width: 100%;
    overflow-x: hidden;
    background-color: #f8f1f1;
    line-height: 1.5;
}

header{
    width: 100%;
    background-color: #2d5a87;

}
main{
   width: 100%; 
}
 nav{
    width: 960px;
    margin: auto;
}
.li1{
    text-align: left;
    display: contents;
    text-align: center;

}
header nav ul{


/* margin:  0 50px; */
height: 100%;
width: 50%;
display: flex;
/* justify-content: space-between; */
align-items: center;
text-transform: capitalize;

}
header nav ul li {
    display: inline;
    /* padding: 25px; */
    margin: 0 40px ;

}
header nav {
/* background-color: #5B84C4; */
    background-color: #2d5a87;
    color: #f8f1f1;
    height: 50px;
    
}
.logo{
height: 50px;
width: 50px;
}
a{
    color: white;
    text-decoration: none;
}
a:visited {
    color: white;
}
.intro__section { 
    /* width: 100%; */
    background-color: #f8f1f1;
    color: #07031a;
    padding: 80px 0px;
    height: 200px;
}
/* .intro__section div {
margin: 20px 0;
    display: flex;
    align-items: center;
} */
.intro__section__cont {
    /* margin: 20px 0; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    width: 960px;
    margin: auto;
}
.intro__section__cont div {
    display: flex;
}
.intro__section__cont div img {
    width: 70px;
}
.intro__section div div h2{

    font-size: 62px;
    margin: 0 0 0 30px;
    /* font-family: 'Ribeye Marrow', cursive; */
    font-family: 'Monoton', cursive;
    color: #2C599D;
  
}
.intro__section p{
line-height: 3;
font-size: 22px;
margin-bottom: 30px;
}



.meddil{
width: 960px;
margin: auto;
display: flex;
flex-direction: column;
padding: 50px 0px;
}

.meddil__h2 {
    font-size: 32px;
    color: #2C599D;
    font-family: 'Ribeye Marrow', cursive;
}

/* <!------------------------------------IMAGES SECTION---------------------------------------------> */

.items__contener{
    display: flex;
    /* width: 100%; */
    width:calc(100%/2);

    /* justify-content: space-between; */
}


.items__contener div img {
    width: 100px;
    height: 100px;
   
}
.items__contenerdiv:hover {
    width: 300px;
  }

.div2 {
    margin: 0 15px;
}



/* <!------------------------------------IMAGES SECTION---------------------------------------------> */



footer  div a{
color: rgb(24, 96, 190);
margin: 0 10px;
}

.section3 { 
    background-color: #16697a;
    width: 100%;
    /* margin: ; */

}
.section3__contenar{

    display: flex;
width: 960px;
margin: auto;
padding: 100px 0;

}

.section3__medil{
    margin: 0 15px;
}

.section3__item1{
display: flex;
margin:0 0 30px 0;
align-items: center;

}
.section3__item1 h2{
    margin-left: 10px;
    font-size: 25px;
}

.section3__item2{
    display: flex;
    margin:0 0 30px 0;
    align-items: center;

    
    }
    .section3__item2 h2{
        margin-left: 10px;
        font-size: 25px;
    }

    .section3__item3{
        display: flex;
        margin:0 0 30px 0;
        align-items: center;
    
        
        }
        .section3__item3 h2{
            margin-left: 10px;
            font-size: 25px;
        }
        
        footer{
            height: 100px;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            width: 960px;
            margin: auto;
        }
       
        .footermidal{
border-left: 2px solid darkgrey;        
border-right: 2px solid darkgrey;     
padding: 0 10px;   
}
.footer__a{

    margin: 20px;
}

span{
    margin-left: 30px;
    color: darkgrey;
}